.Navmenu {
    list-style-type: none;
    margin: 0;
    background-color: #222;
    height: 50px;
  }
  
.Navmenu li {
    padding: 0px;
    float: left;
    height: 100%;
}

.Navmenu-item :hover {
    background-color: #adddff;
}

.Navmenu-item {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-style: normal;
    text-decoration: unset;
    height: 100%;
    width: 100px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.Navmenu-item-active{
    background-color: #555555;
}