.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  color: white;
}

.My-header-picture {
  height: 100%;
  float: left;
}

.App-intro {
  font-size: large;
}

.App-title {
  font-size: 1.5em;
  float: left;
  margin-left: 20px;
  margin-bottom: 0px;
  padding: 0px;
}

.App-body {
  background-color: white;
  margin-top: 0px;
}

.Horizontal-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #222;
  width: 100%;
  height: 40px;
}

.Horizontal-menu li {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.Horizontal-menu li:hover {
  background-color: #adddff;
}

.Horizontal-menu li a {
  background-color: transparent;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
